{% extends 'base.html' %}

{% block content %}

    {% if object_list %}

        <h1 class="display-4">My Answers</h1>
        {% for answer in object_list %}
            {% include 'includes/answer_short.html' %}
        {% endfor %}
        {% include 'includes/paginator.html' %}

    {% else %}
        <h1>Nothing found!</h1>
    {% endif %}

{%  endblock %}