{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load vote %}

{% block title %}{{ question.title|striptags|truncatechars:128 }}{% endblock title %}

{% block content %}

    <h1 class="h3">{{ question.title }}</h1>
    <p class="lead">{{ question.content|linebreaks }}</p>

    <div class="text-right">
        <small class="text-black-50">Asked {{ question.created_at|timesince }} ago
        <a href="#">{{ question.author }}</a></small>
        {% include 'includes/avatar.html' with avatar=question.author.avatar width="40" height="40" %}
    </div>

    {% vote question %}

    <hr class="my-2">
    <p>
    {% for tag in question.get_tags %}
        <a href="{% url 'qa:tag' tag.pk %}" class="badge badge-secondary">{{ tag.name }}</a>
    {% endfor %}
    </p>

    <p class="h5">Answers</p>
    {% for answer in answers %}
        {%  include 'includes/answer.html' %}
    {% endfor %}
    {% include 'includes/paginator.html' %}

    <h3>Your answer</h3>
    {% if user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type=" submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
        You need to <a href="{% url 'login' %}">Login</a> first.
    {% endif %}

{%  endblock %}