{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1 class="display-4">New question</h1>

    <div class="container">
        <div class="raw">
            <div class="col-8 p-0">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Save question</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}