{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% if found_questions %}

        <h1 class="display-4">Found Questions</h1>
        {% for question in found_questions %}
            {% include 'includes/question_short.html' %}
        {% endfor %}
        {% include 'includes/paginator.html' %}

    {% else %}
        <h1>Nothing found!</h1>
    {% endif %}

{%  endblock %}