{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1 class="display-4">Tag <span class="badge badge-primary">{{ tag.name }}</span></h1>

    {% for question in tag.questions.get_last %}
        <li>{{ question.created_at }}, {{ question.author }}: <a href="{% url 'qa:question' question.id %}">{{ question.title }}</a></li>
    {% endfor %}

{%  endblock %}