{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1 class="display-4">Login</h1>

    <div class="container">
        <div class="raw">
            <div class="col-6">
                {% if user.is_authenticated %}
                    Logout
                {% else %}
                <a href="{% url 'registration' %}">Registration</a>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}