{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1 class="display-4">Registration</h1>

    <div class="container">
        <div class="raw">
            <div class="col-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}