{% load vote %}
<div class="container">
    <div class="row">
        <div class="col-sm-2 text-center">

            {% vote answer %}

            {% if answer.is_right %}
                <span class="badge badge-success">Right!</span>
            {% elif user == question.author or user.is_superuser  %}
                <a class="btn btn-outline-success" href="{% url 'qa:right_answer' answer.pk %}" role="button">Right?</a>
            {% endif %}

        </div>
        <div class="col-sm">

            <p>{{ answer.content }}</p>

            <div class="text-right">
                <small class="text-black-50">answered {{ answer.created_at|timesince }} ago
                    <a href="#">{{ answer.author }}</a></small>
                {% include 'includes/avatar.html' with avatar=answer.author.avatar width="40" height="40" %}
            </div>

        </div>
    </div>
</div>
<hr class="my-1">
