<div class="container p-0">
    <div class="row">
        <div class="col-sm-3">
            {% include 'includes/avatar.html' with avatar=question.author.avatar width="60" height="60" %}

            <span class="badge badge-success p-2 bg-white border text-success">
                {{ question.votes_sum }}<br />
                <small>votes</small>
            </span>
            <span class="badge badge-success p-2 border {% if question.has_answer %}text-white{% else %}bg-white text-success{% endif %}">
                {{ question.count_answers }}<br />
                <small>answers</small>
            </span>

        </div>
        <div class="col-sm-9 p-0 pr-3">
            <a href="{% url 'qa:question' question.id %}">{{ question.title|truncatechars:128 }}</a>
            <br />
            {% for tag in question.get_tags %}
                <span class="badge badge-secondary">{{ tag.name }}</span>
            {% endfor %}
            <br />

            <div class="text-right">
                <small class="text-black-50">Asked {{ question.created_at|timesince }} ago
                    <a href="#">{{ question.author }}</a></small>
            </div>
        </div>
    </div>
</div>
<hr class="my-1">