    <a href="{% url 'qa:vote' model_entity=model pk=pk value_alias='like' %}">Like!</a>
    {{ votes_sum }}
    <a href="{% url 'qa:vote' model_entity=model pk=pk value_alias='dislike' %}">Dislike!</a>