{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1 class="display-4">Profile</h1>

    <a href="{% url 'profile' %}">Profile</a><br/>
    <a href="{% url 'qa:myquestions' %}">My Questions</a><br/>
    <a href="{% url 'qa:myanswers' %}">My Answers</a><br/>


{%  endblock %}