{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Poor man's stackoverflow{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-sm-12 pb-2">

            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">Haster</a>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                        {% include 'includes/avatar.html' with avatar=user.avatar width="36" height="36" %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account' %}">{{ user.get_username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration' %}">Registration</a>
                        </li>
                    {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="#rules">Rules</a>
                        </li>

                    </ul>
                    <form action="{% url 'qa:search' %}" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" name="q"  placeholder="Search" value="{{ request.GET.q }}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 pt-3 pb-5">

            {% block content %}
            {% endblock %}

        </div>
        <div class="col-sm-3 p-3">
            <div class="container text-center my-5">
                <a class="btn btn-primary" href="{% url 'qa:new_question' %}" role="button">Ask Question!</a>
            </div>
            {% load trending_questions %}
            {% get_trending_questions %}

        </div>
    </div> <!-- endrow -->


    <div class="row">
        <div class="col-sm-12 bg-light py-3 m-3 text-center">
            Hasker &copy; 2019 <a href="{% url 'api_index' %}">API</a>
        </div>
    </div>
</div>

</body>
</html>